@import "elements/forms";                         // Form - wrappers, inputs, labels

.char-counter {
  position: relative;
  margin-bottom: 1.5em;
  display: block;

  .form-control {
    width: auto;
  }

  [data-char-field] {
    height: 70px;
  }

  @include media(tablet) {
    display: inline-block;
  }
}

.char-counter-text {
  @include core-19;
  color: #6f777b;
  text-align: right;
}
